@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

main {
  background-color: #233d4d;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Commissioner", sans-serif;
}
main .side-one {
  width: 100%;
  color: white;
  display: flex;
  height: 100%;
  gap: 24vw;
}
main .side-one .message {
  flex: auto;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
}
main .side-one .message .message-caption {
  height: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}
main .side-one .message .btn-enter {
  width: clamp(1rem, 80%, 300px);
  height: clamp(2rem, 8vh, 80px);
  font-size: 1.2rem;
  background: #fe7f2d;
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: 0.3s;
}
main .side-one .message .btn-enter:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 4px 4px 20px rgba(254, 127, 45, 0.5490196078);
}
main .side-one .message h1 {
  font-family: "Readex Pro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(32px, 4vw, 46px);
}
main .side-one .message p {
  line-height: 2rem;
}
main .side-two {
  position: absolute;
  background: #fdfffc;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 40px 180px;
  width: 60vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
main .side-two .header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
main .side-two .header h1 {
  font-family: "Readex Pro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(32px, 4vw, 46px);
  color: #fe7f2d;
}
main .side-two .header nav {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
}
main .side-two .header nav .menu-item {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .side-two .header nav .menu-item svg {
  fill: #233d4d;
}
main .side-two .header nav .menu-item:hover > svg {
  fill: #fe7f2d;
}
main .side-two .input-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 12px;
}
main .side-two .input-group .input {
  display: grid;
  align-content: center;
}
main .side-two .input-group .input label {
  color: darkgray;
}
main .side-two .input-group .input input {
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid darkgray;
  height: 3rem;
  font-family: "Readex Pro", sans-serif;
  font-size: 1rem;
}
main .side-two .input-group .button-input {
  place-items: center;
}
main .side-two .input-group .button-input > button {
  width: clamp(1rem, 80%, 300px);
  height: clamp(2rem, 8vh, 80px);
  font-size: 1.2rem;
  background: #fe7f2d;
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 50px;
}
main .side-two .input-group .button-input > button:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */